@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.slide {
  height: 100vh;
}
.slide-1 {
  background: url("../img/student.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
}
.slide-1 .bg {
  height: 100vh;
  background: rgb(46,97,113, 0.8);
  position: absolute;
  width: 100%;
}
.slide-1 a {
  color: #fff;
}
.slide-1 .logo {
  font-size: 100px;
}
.slide-1 .slogan,
.slide-1 .intro,
.slide-1 .btn-grace {
  font-size: 28px;
  transition: all .5s ;
}

.slide-1 .btn-grace:hover {
  color: #fff;
  font-size: 30px;
}
.slide-1 .padding {
  padding-top: 40%;
}
.slide-1 .btn-grace {
  background: rgb(229,107,111, 0.8);
  padding: 5px 30px;
}
.slide-1 .prueba {
  margin-top: 40px;
}
.section-title {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}
.section-title h2 {
  text-align: center;
  color: rgb(229,107,111);
  font-size: 35px;
  font-weight: normal;
}
.section-title .bar {
  width: 150px;
  margin: auto;
  height: 4px;
  background: #2E6171;
}
.benefit {
  margin-bottom: 20px;
}
.benefit .fa {
  font-size: 50px;
  color: #2E6171;
}
.modulos {
  font-size: 35px;
  margin-bottom: 30px;
}
.grace {
  color: rgb(229,107,111);
}
.slide-3 {
  background: #fafafa;
}
.toggle {
  position: fixed;
  top: 20px;
  right: 20px;
}
.toggle button {
  color: #fff;
  font-size: 30px;
  transition: all ease 1s;
}
.toggle.green button {
  color: rgb(229,107,111);
}
.zero {
  border: 0;
  background: 0;
  outline: 0;
  cursor: pointer;
}
.navigation {
  position: fixed;
  top: 0;
  right: -1000px;
  text-align: center;
  background: #fff;
  padding: 20px 40px;
  width: 20%;
  height: 100vh;
  transition: all ease 0.5s;
}
.navigation.visible {
  right: 0;
}
.navigation button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(229,107,111);
}
.navigation .grace {
  font-size: 40px;
}
.navigation .grace a {
  color: rgb(229,107,111);
  text-decoration: none;
}
.navigation .slogan {
  font-size: 16px;
}
.navigation nav {
  margin-top: 50px;
}
.navigation nav li {
  margin-bottom: 10px;
}
.navigation a {
  color: #2E6171;
}
@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  .navigation {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .slide {
    min-height: 100vh;
  }
  .navigation {
    width: 50%;
  }
  .slide-2,
  .slide-3,
  .slide-4 {
    height: auto;
  }
  .modulos {
    font-size: 20px;
  }
}
@media (max-width: 736px) {
  .slide-1 .logo {
    font-size: 40px;
  }
  .slide-1 .slogan,
  .slide-1 .intro,
  .slide-1 .btn-grace {
    font-size: 14px;
  }
  .slide-1 .padding {
    padding-top: 0%;
  }
  .slide-1 .izquierda {
    padding-top: 30px;
  }
  .slide-1 .btn-grace {
    padding: 5px 10px;
  }
  .slide-1 .prueba {
    margin-top: 10px;
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .navigation {
    width: 100%;
  }
}
